.content {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.navbar {
    min-height: 48px;
    border-bottom: 1px solid #d1d5db;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
}

.navbar > a {
    font-size: 20px;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    color: #0a0a0a;
}

.navbar > a:hover {
    background-color: #e7e5e4;
}

.logout-btn {
    cursor: pointer;
    background: transparent;
    border: none;
    font-size: 20px;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    color: #0a0a0a;
}

.logout-btn:hover {
    background-color: #e7e5e4;
}