.post {
    width: clamp(320px, 80vw, 800px);
    padding: 10px 0;
}

.post-title {
    margin: 0 0 5px;
    font-size: 28px;
}

.post-author {
    margin: 0;
    font-size: 18px;
}

.post-date {
    margin: 0;
    font-size: 18px;
}

.post-text {
    margin: 10px 0;
    font-size: 18px;
}

.post-edit {
    display: grid;
    gap: 12px;
}

.title-input {
    font-size: 24px;
}

.text-input {
    font-size: 18px;
}

.save-btn {
    font-size: 18px;
    font-weight: 500;
    padding: 8px 24px;
    justify-self: end;
}
