.comment-container {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 8px 12px;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}

.comment-info {
    display: flex;
    align-items: baseline;
    gap: 12px;
}

.comment-author {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}

.comment-date {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}

.comment-text {
    margin: 0;
    font-size: 18px;
}

.comment-edit {
    display: flex;
    flex-direction: column;
}

.comment-btns {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin: 8px 12px 0;
}

.new-comment-btn {
    align-self: flex-start;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #57534e;
    border-radius: 5px;
    background-color: white;
    color: #0a0a0a;
    box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

.new-comment-btn:hover {
    cursor: pointer;
    background-color: #e7e5e4;
}

.new-comment-btn:active {
    background-color: #d6d3d1;
}